  @import "tailwindcss";

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }


  

  .hero{
    margin-left:50px;
    margin-top:100px;

  }

  #name{
    font-size: 3.5rem;
  }

  .hero h2 {
  font-size: 1.4rem;
  }

  .hero p {
  font-size: 1rem;
  line-height: 1.6;
  }

  .navbar{
    margin-top:30px;
    margin-left:50px
  }