  @import "tailwindcss";

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }


  #container {
    display: flex;
    min-height: 100vh;
    
  }

  #left{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 40%;
    

  }

  #right {
    overflow-y: auto;
    width: 60%;
    max-width: 900px;
    padding: 6rem 7rem;
    background-color: maroon;
    color:white;

  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

  .hero{
    margin-left:50px;
    margin-top:75px;

  }

  #name{
    font-size: 3.5rem;
  }

  .hero h2 {
  font-size: 1.4rem;
  }

  .hero p {
  font-size: 1rem;
  line-height: 1.6;
  }

  .navbar{
    margin-top:75px;
    margin-left:50px;
    font-size: 1rem;
    background-color: white;

  }

  #socials{
    margin-left:50px;
    margin-top:100px;
    font-size: xx-large;
  }


  #xpCard{
    display:flex;
  }
  #xpLeft{
    width: 20%;
  }
  #xpRight{
    display:flex;
    flex-direction: column;
    width:80%;
  }
  #tag{
    display:flex;
  }

  #Experience{
    margin-top:155px;
  }